.about {
  .container {
    text-align: center;
  }
  &__title {
    text-align: center;
    color: #0D302C;
    font-size: 45px;
    margin-top: 140px;
    background-image: url("../img/svg/title_line.svg");
    background-size: 48px 85px;
    background-repeat: no-repeat;
    background-position: center right;
    display: inline-block;
    padding-right: 60px;
    padding-left: 60px;
    padding-bottom: 30px;
    font-weight: normal;
  }
  &__two{
    font-size: 14px;
    display: flex;
    column-gap: 100px;
    margin-top: 100px;
    line-height: 20px;
    font-family: "Open Sans";

    text-align: left;
  }
}
