.buns{
  &_section {
    background-color: #f8f8f8;
    padding-top: 200px;
    padding-bottom: 200px;
    .container {
      text-align: center;
    }
    .features {
      display: flex;
      .feature_title {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        font-family: "Open Sans";
        text-align: left;
      }
    }
  }
  &_title{
    font-size: 48px;
    text-align: center;
    background-image: url("../img/svg/title_line.svg");
    background-size: 48px 85px;
    background-repeat: no-repeat;
    background-position: center right;
    display: inline-block;
    padding-right: 60px;
    padding-left: 60px;
    padding-bottom: 30px;
    font-weight: normal;
    color: #01353E;
  }
  &__features {
    display: flex;
    gap: 60px;
    padding-bottom: 100px;
    padding-top: 100px;
  }
  &__feat {
    min-width: 350px;
  }
  &__subtitle {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
  }
  &__text {
    text-align: left;
    font-family: "Open Sans";
    font-size: 14px;
    color: #242121;
    letter-spacing: 0.6px;
  }
  &__title2 {
    font-size: 24px;
    font-family: "Open Sans";
    text-transform: uppercase;
  }
  &__static{
    font-size: 14px;
    font-family: 'Roboto Condensed';
    background-image: url("../img/svg/проценты.svg");
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 250px;
    text-align: left;
    letter-spacing: 0.6px;
  }
}
