<section class="bid">
    <div class="container">
      <h2 class="bid__title">ОСТАВИТЬ ЗАЯВКУ</h2>
      <form action="" class="bid__form">
        <input type="text" class="bid__input" placeholder="Имя">
        <input type="text" class="bid__input" placeholder="Телефон">
        <textarea name="" id="" class="bid__textarea" placeholder="Оставьте сообщение, и мы свяжемся с Вами в ближайшее время"></textarea>
        <button class="bid__button">Отправить</button>
      </form>
    </div>
</section>
