// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// подключения компонентов страницы
@import "./components/header";
@import "./components/about";
@import "./components/buns";
@import "./components/intro";
@import "./components/services";
@import "./components/bid";
@import "./components/footer";
